<div class="contFooter" fxLayout="row" fxLayoutAlign="space-between center">
  <div fxFlex="30" fxFlexOffset="5">
    <span class="mat-h5 whiteColor"> <mat-icon class="v-align-middle">local_post_office</mat-icon> SINDICATO NACIONAL DE TRABAJADORES DEL SERVICIO POSTAL MEXICANO</span>
  </div>
  <div fxFlex="30">
    <span class="mat-h5 whiteColor" > <mat-icon class="v-align-middle">store_mall_directory</mat-icon> Calle Francisco Javier Mina #101. Colonia Guerrero. </span>
  </div>
  <div fxFlex="20">
    <span class="mat-h5 whiteColor" fxHide.lt-md="true" fxShow.gt-md> <mat-icon class="v-align-middle">local_phone</mat-icon> 55 46 43 22 / 55 46 24 37</span>
  </div>
</div>
