<div class="topTab" fxLayout="column" fxLayoutAlign="center center">
  <mat-card>
    <div class="topTab" fxLayout="row" fxLayoutAlign="center center">
      <span class="mat-h2">Introduce la clave de Acceso</span>
    </div>
    <form [formGroup]="signin" (ngSubmit)="onSubmit()">
      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field appearance="outline" color="primary">
          <mat-label>Clave de Acceso</mat-label>
          <input type="password" matInput placeholder="Ingresa la clave" formControlName = "claveAcceso" autocomplete="false" name="claveAcceso">
          <mat-icon matSuffix>https</mat-icon>
          <mat-error *ngIf="signin.get('claveAcceso').hasError('required') && signin.get('claveAcceso').touched">Es necesario que introduzcas tu clave.</mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-slide-toggle color="primary" formControlName="captchaToggle">Acepto los términos del aviso de privacidad</mat-slide-toggle>
      </div>
      <div class="topTab" fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button (click) = "goToAvisoPrivacidad()">Aviso de privacidad</button>
      </div>
      <div class="topTab" fxLayout fxLayout="row" fxLayoutAlign="center center">
        <re-captcha (resolved)="resolved($event)" siteKey="6LclvqgZAAAAAIvCtdcccZbKAvyKZR2bRJKvP7Ja"></re-captcha>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <button type="submit" [disabled]="signin.invalid || !captchaResolved" mat-raised-button color="primary" class="topTab" style="width: 300px; height: 60px">Ingresar</button>
      </div>
    </form>
  </mat-card>
  <div class="topTab">
    <mat-card [style.backgroundColor]="'#42aaf5'">
      <p class="mat-body-2">En este portal se muestran el saldo actual, en caso de requerir el estado de cuenta solicitalo al área pertinente.</p>
    </mat-card>
  </div>
</div>
