<!-- <div class="container trans" fxLayout fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px"> -->
  <!-- <div class="item item-1" fxFlex="30%" style= "border: 1px solid red">
    <img src="assets/images/logoSindicato.png" alt="Logo Sindicato SEPOMEX" height="150px" width="150px">
  </div>
  <div class="item item-2" fsFlex="80%" style= "border: 1px solid red">
    SINDICATO NACIONAL DE TRABAJADORES DEL SERVICIO POSTAL MEXICANO
  </div>
  <div class="item item-3" fsFlex style= "border: 1px solid red">
    <button mat-fab color="primary"><mat-icon>perm_identity</mat-icon></button>
  </div> -->
  <!-- <mat-card class="item item1" fxFlex="15%">
    <img src="assets/images/logoSindicato.png" alt="Logo Sindicato SEPOMEX" height="140px" width="140px">
  </mat-card>
  <mat-card class="item item2" fxFlex="70%" style="text-align: center;">
    SINDICATO NACIONAL DE TRABAJADORES DEL SERVICIO POSTAL MEXICANO
  </mat-card>
  <mat-card class="item item3" fxFlex="15%" style="text-align: right;">
    <button mat-icon-button [matMenuTriggerFor] = "menuLogin">
      <mat-icon>perm_identity</mat-icon>
    </button>
    <mat-menu #menuLogin>
      <button mat-menu-item>
        <mat-icon>sensor_door</mat-icon>
        <span>Ingresar</span>
      </button>
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Salir</span>
      </button>
    </mat-menu>
  </mat-card>
</div> -->

<!-- <mat-toolbar color="primary">
  <mat-toolbar-row class="contribHeader" class="flex-container" style="justify-content: center; min-height:128px !important;
  max-height:128px !important;">
    <div style="flex-grow: 1;">
      <img src="assets/images/logoSindicato.png" alt="Logo Sindicato SEPOMEX" height="128px" width="128px">
    </div>
    <div style="flex-grow: 8;">
      <span>SINDICATO NACIONAL DE TRABAJADORES DEL SERVICIO POSTAL MEXICANO</span>
    </div>
    <div style="flex-grow: 1;">
      <button mat-icon-button [matMenuTriggerFor] = "menuLogin" style="width: 50px; height: 50px;">
        <mat-icon style="font-size: 50px;">perm_identity</mat-icon>
      </button>
      <mat-menu #menuLogin>
        <button mat-menu-item>
          <mat-icon>sensor_door</mat-icon>
          <span>Ingresar</span>
        </button>
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Salir</span>
        </button>
      </mat-menu>
    </div>
    </mat-toolbar-row>
</mat-toolbar> -->

<!-- 20 70 10 -->

<!-- <div class="flex-container" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="20" fxFlexOffset="50px">
      <img src="assets/images/logoSindicato.png" alt="Logo Sindicato SEPOMEX" height="128px" width="128px">
    </div>
    <div fxFlex="70" fxFlex="grow">
      <span class="mat-h1" style="color: whitesmoke;">SINDICATO NACIONAL DE TRABAJADORES DEL SERVICIO POSTAL MEXICANO</span>
    </div>
    <div fxFlex="10">
      <button mat-icon-button [matMenuTriggerFor] = "menuLogin" style="width: 50px; height: 50px;">
        <mat-icon style="font-size: 50px; color: whitesmoke;">account_circle</mat-icon>
      </button>
      <mat-menu #menuLogin>
        <button mat-menu-item>
          <mat-icon>sensor_door</mat-icon>
          <span>Ingresar</span>
        </button>
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Salir</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div >
      SISTEMA PARA BLA BLA BLA BLA BLA
    </div>
  </div>
</div> -->

<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="20" fxFlexOffset="50px" fxFlexOffset.lt-md = "0">
      <img src="assets/images/logoSindicato.png" alt="Logo Sindicato SEPOMEX" height="128px" width="128px">
    </div>
    <div fxFlex="70">
      <span class="mat-h1" style="color: whitesmoke;">SINDICATO NACIONAL DE TRABAJADORES DEL SERVICIO POSTAL MEXICANO</span>
    </div>
    <div fxLayout="row" fxFlex="10" fxLayoutAlign="center end">
      <button mat-icon-button [matMenuTriggerFor] = "menuLogin" style="width: 50px; height: 50px;">
        <mat-icon style="font-size: 50px; color: whitesmoke;">account_circle</mat-icon>
      </button>
      <mat-menu #menuLogin>
        <button mat-menu-item>
          <mat-icon>sensor_door</mat-icon>
          <span>Ingresar</span>
        </button>
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Salir</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <br>
  <div fxLayout="row">
    <div fxFlex="95" fxFlexOffset="30px">
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span>Sistema de consulta del concepto 92 y seguimiento de solicitudes.</span>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
  </div>
</div>
  <!-- <div fxLayout="row" fxFlex="70" fxFlexAlign="center center">
    <span class="mat-h1" style="color: whitesmoke;">SINDICATO NACIONAL DE TRABAJADORES DEL SERVICIO POSTAL MEXICANO</span>
  </div>
  <div fxLayout="row" fxFlex="10" fxFlexAlign="end center">
    <button mat-icon-button [matMenuTriggerFor] = "menuLogin" style="width: 50px; height: 50px;">
      <mat-icon style="font-size: 50px; color: whitesmoke;">account_circle</mat-icon>
    </button>
    <mat-menu #menuLogin>
      <button mat-menu-item>
        <mat-icon>sensor_door</mat-icon>
        <span>Ingresar</span>
      </button>
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Salir</span>
      </button>
    </mat-menu>
  </div> -->
<!-- </div> -->
