<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="20" fxFlexOffset="50px" fxFlexOffset.lt-md = "0">
      <img src="assets/images/logoSindicato.png" alt="Logo Sindicato SEPOMEX" height="128px" width="128px">
    </div>
    <div fxFlex="70">
      <span class="mat-h1" style="color: whitesmoke;">SINDICATO NACIONAL DE TRABAJADORES DEL SERVICIO POSTAL MEXICANO</span>
    </div>
    <div fxLayout="row" fxFlex="10" fxLayoutAlign="center end">
      <button mat-icon-button [matMenuTriggerFor] = "menuLogin" style="width: 50px; height: 50px;">
        <mat-icon style="font-size: 50px; color: whitesmoke;">account_circle</mat-icon>
      </button>
      <mat-menu #menuLogin>
        <button mat-menu-item [routerLink]="'/login'">
          <mat-icon>sensor_door</mat-icon>
          <span>Ingresar</span>
        </button>
        <button mat-menu-item (click)="goToHome()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Salir</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <br>
  <div class="topTab" fxLayout="row">
    <div fxFlex="95" fxFlexOffset="30px">
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span>Sistema de consulta del concepto 92 y seguimiento de solicitudes.</span>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
  </div>
</div>
