/* .mat-card{
  background-color: rgba(0, 0, 0, 0);
} */
.contribHeader{
  min-height:128px;
  max-height:128px;
 }

 .break {
  flex-basis: 100%;
  height: 0;
}

.mat-toolbar.mat-primary {
  background: #003cff67;
  color: #fff;
}

.topTab {
  padding-top: 15px;
}
